# Local Mongo URI example: mongodb://admin:password123@mongodb:27017/passworddb?authSource=admin
# Cloud Mongo URI example: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/passworddb?retryWrites=true&w=majority
MONGO_URI=
MONGO_DB=passworddb
MONGO_USER=admin
MONGO_PASS=admin


# Flask configuration
## Can generate a secure secret key using `python -c "import secrets; print(secrets.token_hex(32))"`
SECRET_KEY=

# URL for the ML client API
ML_CLIENT_URL=http://machine-learning-client:5001