[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
sounddevice = "*"
soundfile = "*"
black = "*"
openai-whisper = "*"
pytest = "*"
python-dotenv = "*"
pymongo = "*"

[dev-packages]
tomli = "*"
pytest = "*"
pytest-cov = "*"
typing-extensions = "*"

[requires]
python_version = "3.10"
